.search-bar {
  grid-column: 3 / 11;
  grid-row: 2/2;
  width: 100%;
  /* grid-area: i; */
}

input[type="text"] {
  width: 70%;
  margin-left: 160px;
  height: 46px;
  line-height: 46px;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.5);
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 30px;
  padding: 10px 20px;
}
